{% import "macros/macros.html.twig" as macro %}

{% set counter = 0 %}

{% set aff_astable %}
  {% for key_as, as_data in asinfo %}
    {% set class %}
      {% if (counter % 2) != 0 %}
        even
      {% endif %}
    {% endset %}
    <li class="li-padding {{ class }}">
      <div class="row">
        <div class="col-md-4 col-lg-2">
          <b><img src="{{ global.request.baseUrl }}/flags/blank.gif" class="flag flag-{{ as_data.info.country|lower }}"/> AS{{ key_as }}: </b><small><i>{{ as_data.info.descr }}</i></small>
          <div class="small">{{ 'in.the.last' | trans( {'%hours%': label|default('')} ) }}</div>
          <div class="small">IPv4: ~ {{ as_data.v4.in|format_bytes }} {{ 'in'|trans }} / {{ as_data.v4.out|format_bytes }} {{ 'out'|trans }}</div>
          {% if as_data.v6 is defined %}
            <div class="small">IPv6: ~ {{ as_data.v6.in|format_bytes }} {{ 'in'|trans }} / {{ as_data.v6.out|format_bytes }} {{ 'out'|trans }}</div>
          {% endif %}
          <span class="small">{{ attribute(customlinks, key_as)|raw }}</span>
          <div class="rank">
            {% set counter = counter + 1 %}
            # {{ counter }}
          </div>
        </div>
        {% if config.showv6 %}
          <div class="col-md-12 col-lg-5">
            <span class="pull-right">
              {{ macro.getHTMLUrl(key_as, 4, as_data.info.descr, start, end, 0, selected_links, config.top_graph_width, config.top_graph_height) }}
            </span>
          </div>
          <div class="col-md-12 col-lg-5">
            <span class="pull-right">
              {{ macro.getHTMLUrl(key_as, 6, as_data.info.descr, start, end, 0, selected_links, config.top_graph_width, config.top_graph_height) }}
            </span>
          </div>
        {% else %}
          <div class="col-md-12 col-lg-10">
            <span class="pull-right">
              {{ macro.getHTMLUrl(key_as, 4, as_data.info.descr, start, end, 0, selected_links, config.top_graph_width, config.top_graph_height) }}
            </span>
          </div>
        {% endif %}
      </div>
    </li>
  {% endfor %}
{% endset %}

<div class="col-md-12">
  <div class="box box-primary">
    <div class="box-body">
      <ul class="nav nav-stacked">
        {{ aff_astable }}
      </ul>
    </div>
  </div>
</div>
