<div class="row">
  <div class="col-md-12">
    <form method='get' id="search_ix_name">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Interval</h3>
        </div>
        <div class="box-body">
          <select name="numhours" id="numhours" class="form-control" onchange="this.form.submit()">
            <option value="24">24 hours</option>
            {% for top in topinterval %}
              {% set selected %}
                {% if hours is defined and hours == top.hours %}
                  selected
                {% endif %}
              {% endset %}
              <option {{ selected }} value="{{ top.hours }}">{{ top.label }}</option>
            {% endfor %}
        </div>
      </div>
      <input type='hidden' name='ix' value='{{ request.ix }}'/>
      {% if request.name_myix is defined %}
        <input type='hidden' name='name_myix' value='{{ request.name_myix }}'/>
      {% endif %}
      {% if request.name_ix is defined %}
        <input type='hidden' name='name_ix' value='{{ request.name_ix }}'/>
      {% endif %}

      {% if selected_links %}
        {% for link in selected_links %}
          {% set tag = "link_#{ link }" %}
          <input type='hidden' name='{{ tag }}' value='on'/>
        {% endfor %}
      {% endif %}
    </form>
  </div>
</div>
