<div class="row">
    <div class='col-md-12'>
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <div class="d-flex">
                    <div>
                        {{ icon('alert_circle', 'icon alert-icon') }}
                    </div>
                    <div>
                        {{ message|raw }}
                    </div>
                </div>
                <a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
            </div>
        {% endfor %}
        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning alert-dismissible" role="alert">
                <div class="d-flex">
                    <div>
                        {{ icon('alert_triangle', 'icon alert-icon') }}
                    </div>
                    <div>
                        {{ message|raw }}
                    </div>
                </div>
                <a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
            </div>
        {% endfor %}
        {% for message in app.flashes('info') %}
            <div class="alert alert-info alert-dismissible" role="alert">
                <div class="d-flex">
                    <div>
                        {{ icon('info_circle', 'icon alert-icon') }}
                    </div>
                    <div>
                        {{ message|raw }}
                    </div>
                </div>
                <a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
            </div>
        {% endfor %}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <div class="d-flex">
                    <div>
                        {{ icon('check', 'icon alert-icon') }}
                    </div>
                    <div>
                        {{ message|raw }}
                    </div>
                </div>
                <a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
            </div>
        {% endfor %}
    </div>
</div>
