<header class="navbar navbar-expand-md d-print-none">
    <div class="container-xl">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
            <a href="/">
                <span class="text-uppercase">AS-Stats</span>
            </a>
        </h1>

        <div class="navbar-nav flex-row order-md-last">
            <div class="my-1 flex-grow-1 flex-md-grow-0 order-first">
                <!--<form method="get" autocomplete="off" novalidate="">
                    <div class="input-icon">
                        <span class="input-icon-addon">
                            {{ icon('filter') }}
                        </span>
                        <input type="number" name='top' min=1 class="form-control" value="{{ base_data.request.top|default('') }}" placeholder="Top AS">
                    </div>
                </form>-->
                {% if form.top is defined %}
                    {{ form_start(form.top) }}
                        <div class="input-icon">
                            <span class="input-icon-addon">
                                {{ icon('filter') }}
                            </span>
                            {{ form_widget(form.top.top, {value: base_data.request.top|default('')}) }}
                        </div>
                        {{ form_errors(form.top.top) }}
                    {{ form_end(form.top) }}
                {% endif %}
            </div>
        </div>

        {% include "base/_menu.html.twig" %}
    </div>
</header>
