<div class="collapse navbar-collapse" id="navbar-menu">
    <div class="d-flex flex-column flex-md-row flex-fill align-items-stretch align-items-md-center">
        <ul class="navbar-nav">
            {% if base_data.top_interval %}
                <li class="nav-item dropdown {% if "top_as" == current_menu %}active{% endif %}">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false" >
                        <span class="nav-link-icon d-md-none d-lg-inline-block">
                            {{ icon('menu_home') }}
                        </span>
                        <span class="nav-link-title">
                            Top AS
                        </span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ path('index') }}">
                            Top AS - 24 hours
                        </a>
                        {% for key, item in base_data.top_interval %}
                            <a class="dropdown-item" href="{{ path('index.topinterval', {'topinterval': key}) }}">
                                Top AS - {{ item.label }}
                            </a>
                        {% endfor %}
                    </div>
                </li>
            {% else %}
                <li class="nav-item {% if "top_as" == current_menu %}active{% endif %}">
                    <a class="nav-link" href="{{ path('index') }}">
                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                        {{ icon('menu_home') }}
                    </span>
                        <span class="nav-link-title">
                      Top AS
                    </span>
                    </a>
                </li>
            {% endif %}

            <li class="nav-item {% if "view_as" == current_menu %}active{% endif %}">
                <a class="nav-link" href="{{ path('history') }}">
                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                        {{ icon('menu_view') }}
                    </span>
                    <span class="nav-link-title">
                      View AS
                    </span>
                </a>
            </li>

            <li class="nav-item dropdown {% if "view_ix" == current_menu %}active{% endif %}">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false" >
                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                        {{ icon('menu_ix') }}
                    </span>
                    <span class="nav-link-title">
                        IX Stats
                    </span>
                </a>
                <div class="dropdown-menu">
                    {% if configapplication_myasn() %}
                        <a class="dropdown-item" href="{{ path('ix.my_ix') }}">
                            My IX
                        </a>
                    {% endif %}
                    <a class="dropdown-item" href="{{ path('ix.search') }}">
                        Search IX
                    </a>
                </div>
            </li>

            {% if base_data.top_interval %}
                <li class="nav-item dropdown {% if "links_usage" == current_menu %}active{% endif %}">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false" >
                        <span class="nav-link-icon d-md-none d-lg-inline-block">
                            {{ icon('menu_linksusage') }}
                        </span>
                        <span class="nav-link-title">
                            Links Usage
                        </span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ path('links.usage') }}">
                            Links Usage - 24 hours
                        </a>
                        {% for key, item in base_data.top_interval %}
                            <a class="dropdown-item" href="{{ path('links.usage.topinterval', {'topinterval': key}) }}">
                                Links Usage - {{ item.label }}
                            </a>
                        {% endfor %}
                    </div>
                </li>
            {% else %}
                <li class="nav-item {% if "links_usage" == current_menu %}active{% endif %}">
                    <a class="nav-link" href="{{ path('links.usage') }}">
                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                        {{ icon('menu_linksusage') }}
                    </span>
                        <span class="nav-link-title">
                      Links Usage
                    </span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>
