<div class="page-header">
    <div class="row g-2 align-items-center">
        <div class="col">
            <div class="d-flex row align-items-center">
                {% if base_data['content_wrapper']['titre'] is defined %}
                    <h2 class="page-title">
                        {{ base_data['content_wrapper']['titre']|default('') }}
                    </h2>
                    <div class="page-pretitle">
                        {{ base_data['content_wrapper']['small']|default('') }}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="col-md-auto ms-auto d-print-none">
            <div class="col">
                <div class="list-inline list-inline-dots mb-0 text-secondary d-sm-block d-none">
                    {% if configapplication_graph('outispositive') %}
                        <div class="list-inline-item">{{ icon('up') }} Outbound traffic</div>
                        <div class="list-inline-item">{{ icon('down') }} Inbound traffic</div>
                    {% else %}
                        <div class="list-inline-item">{{ icon('up') }} Inbound traffic</div>
                        <div class="list-inline-item">{{ icon('down') }} Outbound traffic</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <hr class="mb-2"/>
</div>
