{% extends "base/_layout.html.twig" %}

{% block title %}Top {{ base_data.top }} AS ({{ hours|default('24 hours') }}){% endblock %}

{% block css %}
    {{ parent() }}
{% endblock %}

{% set counter = 0 %}

{% block content %}
    <div class="row row-cards">
        <div class="col">
            <div class="card">
                <div class="list-group list-group-flush">
                    {% for as, as_data in data.asinfo %}
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-2">
                                    <span class="flag flag-{{ as_data.info.country|lower }}"></span>
                                    <strong>AS{{ as }}:</strong>
                                    <span class="small text-uppercase"><i>{{ as_data.info.name|default(as_data.info.description) }}</i></span>
                                    <div class="small">In the last {{ hours|default('24 hours') }}</div>
                                    <div class="small">IPv4: ~ {{ as_data.v4.in|format_bytes }} in / {{ as_data.v4.out|format_bytes }} out</div>
                                    {% if configapplication_graph_showv6() %}
                                        <div class="small">IPv6: ~ {{ as_data.v6.in|format_bytes }} in / {{ as_data.v6.out|format_bytes }} out</div>
                                    {% endif %}
                                    <div class="small">{{ attribute(data.customlinks, as)|raw }}</div>
                                    <div class="display-6 fw-bold my-3 rank">
                                        {% set counter = counter + 1 %}
                                        # {{ counter }}
                                    </div>
                                </div>
                                <div class="col">
                                    graph_v4
                                </div>
                                {% if configapplication_graph_showv6() %}
                                    <div class="col-5">
                                        graph_v6
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
