{% extends "base/_layout.html.twig" %}

{% block title %}Top {{ base_data.top }} AS ({{ hours|default('24 hours') }}){% endblock %}

{% block css %}
    {{ parent() }}
{% endblock %}

{% set counter = 0 %}

{% block content %}
    <div class="row row-cards">

        <div class="col-2">
            <div class="sticky-top sticky-top-legend">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">
                            <strong>Legend</strong>
                        </h3>
                        <div class="table-responsive">
                            <table class="table table-borderless table-vcenter table-sm">
                                <tbody>
                                    {% if knownlinks is defined %}
                                        {% for link in knownlinks %}
                                            <tr>
                                                <td>
                                                    <table class="table-legend">
                                                        <tr>
                                                            {% if configapplication_graph('brighten_negative') %}
                                                                <td class="table-legend-td table-legend-td-brighten" style="background-color: #{{ link.color }}">&nbsp;</td>
                                                                <td class="table-legend-td table-legend-td-brighten" style="opacity: 0.73; background-color: #{{ link.color }}">&nbsp;</td>
                                                            {% else %}
                                                                <td class="table-legend-td" style="background-color: #{{ link.color }}">&nbsp;</td>
                                                            {% endif %}
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td class="small">{{ link.descr }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row row-cards">
                <div class="space-y">
                    {% for as, as_data in data.asinfo %}
                        {% set counter = counter + 1 %}
                        {% embed 'core/card_top.html.twig' with {as: as, as_data: as_data, data: data, counter: counter, hours: hours|default('24 hours')} only %}
                            {% block rank %}
                                <div class="display-6 fw-bold my-3 rank">
                                    # {{ counter }}
                                </div>
                            {% endblock %}

                            {% block title %}
                                <h3 class="mb-0">
                                    <span class="me-2 flag flag-{{ as_data.info.country|lower }}"></span>
                                    <strong>AS{{ as }}:</strong>
                                    <span class="small text-uppercase"><i>{{ as_data.info.name|default(as_data.info.description) }}</i></span>
                                </h3>
                            {% endblock %}

                            {% block customlinks %}
                                <div class="col-md-auto">
                                    <div class="mt-3 badges">
                                        {{ attribute(data.customlinks, as)|raw }}
                                    </div>
                                </div>
                            {% endblock %}
                        {% endembed %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
