<footer class="main-footer font-default">
  <div class="pull-right hidden-xs">
    <b>GUI {{ 'release'|trans|capitalize }}</b> {{ version|default('') }}
  </div>
  <strong>AS-Stats v1.6</strong> {{ 'written.by'|trans }} Manuel Kasper {{ 'for'|trans }} Monzoon Networks AG.
  &nbsp;//&nbsp;<strong>GUI</strong> {{ 'written.by'|trans }} Nicolas Debrigode {{ 'for'|trans }} Hexanet SAS.
</footer>
