<div class="col-lg-2 col-sm-12">
    <div class="sticky-top sticky-top-legend">
        {{ form_start(form.legend) }}
        <div class="card">
            <div class="card-body">
                <div class="ribbon">
                    Legend
                </div>
                <div class="table-responsive mt-5">
                    <table class="table table-borderless table-sm">
                        <tbody>
                        {% if knownlinks is defined %}
                            {% for link in knownlinks %}
                                <tr>
                                    <td class="align-middle">
                                        {% for field in form.legend %}
                                            {% if field.vars.name == link.tag %}
                                                {{ form_row(field) }}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>
                                        <table class="table-legend">
                                            <tr>
                                                {% if configapplication_graph('brighten_negative') %}
                                                    <td class="table-legend-td table-legend-td-brighten" style="background-color: #{{ link.color }}">&nbsp;</td>
                                                    <td class="table-legend-td table-legend-td-brighten" style="opacity: 0.73; background-color: #{{ link.color }}">&nbsp;</td>
                                                {% else %}
                                                    <td class="table-legend-td" style="background-color: #{{ link.color }}">&nbsp;</td>
                                                {% endif %}
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-tabler btn-icon float-end">{{ icon('filter') }}</i></button>
            </div>
        </div>
        {{ form_end(form.legend) }}
    </div>
</div>
