{% extends "base/base.html.twig" %}
{% import "macros/macros.html.twig" as macro %}

{% block refresh %}
{% endblock %}

{% block title %}
Top {{ ntop }} AS ({{ label }})
{% endblock %}

{% block css %}
<style>
.affix {
  top:55px;
  z-index: 1;
  width: 6.8%;
}
@media (max-width:1680px) {
  .affix {
    width: 6.5%;
  }
}
@media (max-width:1600px) {
  .affix {
    width: 6.5%;
  }
}
@media (max-width:1440px) {
  .affix {
    width: 6.3%;
  }
}
@media (max-width:1280px) {
  .affix {
    width: 6.1%;
  }
}
@media (max-width:1024px) {
  .affix {
    width: 97%;
  }
}
@media (max-width:768px) {
  .affix {
    width: 96%;
  }
}
@media (max-width:667px) {
  .affix {
    width: 95.5%;
  }
}
@media (max-width:375px) {
  .affix {
    width: 92%;
  }
}
</style>
{% endblock %}

{% block content_wrapper %}
  {% set title = "Top #{ntop} AS" %}
  {% set label = "(#{label})" %}
  {{ macro.content_header(title, label, config.outispositive ) }}
{% endblock %}

{% set counter = 0 %}

{% if config.showv6 %}
  {% set first_col = "1" %}
  {% set second_col = "11" %}
  {% set offset_second_col = "0" %}
{% else %}
  {% set first_col = "2" %}
  {% set second_col = "9" %}
  {% set offset_second_col = "1" %}
{% endif %}

{% set aff_astable %}
  {% for key_as, as_data in asinfo %}
    {% set class %}
      {% if (counter % 2) != 0 %}
        even
      {% endif %}
    {% endset %}
    <li class="li-padding {{ class }}">
      <div class="row">
        <div class="col-md-4 col-lg-2">
          <b><img src="{{ global.request.baseUrl }}/flags/blank.gif" class="flag flag-{{ as_data.info.country|lower }}"/> AS{{ key_as }}: </b><small><i>{{ as_data.info.descr }}</i></small>
          <div class="small">{{ 'in.the.last' | trans( {'%hours%': label|default('')} ) }}</div>
          <div class="small">IPv4: ~ {{ as_data.v4.in|format_bytes }} {{ 'in'|trans }} / {{ as_data.v4.out|format_bytes }} {{ 'out'|trans }}</div>
          {% if as_data.v6 is defined %}
            <div class="small">IPv6: ~ {{ as_data.v6.in|format_bytes }} {{ 'in'|trans }} / {{ as_data.v6.out|format_bytes }} {{ 'out'|trans }}</div>
          {% endif %}
          <span class="small">{{ attribute(customlinks, key_as)|raw }}</span>
          <div class="rank">
            {% set counter = counter + 1 %}
            # {{ counter }}
          </div>
        </div>
        {% if config.showv6 %}
          <div class="col-md-12 col-lg-5">
            <span class="pull-right">
              {{ macro.getHTMLUrl(key_as, 4, as_data.info.descr, start, end, 0, selected_links, config.top_graph_width, config.top_graph_height) }}
            </span>
          </div>
          <div class="col-md-12 col-lg-5">
            <span class="pull-right">
              {{ macro.getHTMLUrl(key_as, 6, as_data.info.descr, start, end, 0, selected_links, config.top_graph_width, config.top_graph_height) }}
            </span>
          </div>
        {% else %}
          <div class="col-md-12 col-lg-10">
            <span class="pull-right">
              {{ macro.getHTMLUrl(key_as, 4, as_data.info.descr, start, end, 0, selected_links, config.top_graph_width, config.top_graph_height) }}
            </span>
          </div>
        {% endif %}
      </div>
    </li>
  {% endfor %}
{% endset %}

{% block content %}
<div class="row">
  <div class="col-md-12 col-lg-{{ first_col }}">
    <form method='get'>
      <input type='hidden' name='numhours' value='{{ hours }}'/>
      <input type='hidden' name='n' value='{{ ntop }}'/>
      <div data-spy="affix" data-offset-top="100">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">{{ 'legend'|trans|capitalize }}</h3>
          </div>
          <div class="box-body">
            {% if mobile %}
              {{ include('/base/legend_small.html.twig') }}
            {% else %}
              {{ include('/base/legend.html.twig') }}
            {% endif %}
          </div>
          <div class="box-footer">
            <button type="submit" class="btn pull-right"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="col-md-12 col-lg-{{ second_col }} col-lg-offset-{{ offset_second_col }}">
    <div class="row">
      <div class="col-lg-12">
        <div class="box box-primary">
          <div class="box-body">
            <ul class="nav nav-stacked">
              {{ aff_astable }}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}

{% block modal %}
{% endblock %}

{% block js %}
{% endblock %}
