{% macro getHTMLUrl(as, ipversion, desc, start, end, peerusage, selected_links, width, height) %}
  {% import _self as self %}
  {% set title = "AS#{as} - #{desc} - IPv#{ipversion}" %}

  {% set img %}
    {{ self.getHTMLImg(as, ipversion, title, start, end, peerusage, false, selected_links, 1, width, height) }}
  {% endset %}
  <a href='{{ path('history', {'as': as, 'peerusage': peerusage, 'v': ipversion}) }}'>{{ img }}</a>
{% endmacro %}

{% macro getHTMLImg(as, ipversion, title, start, end, peerusage, history, selected_links, nolegend, width, height) %}
  {% set options %}
    {% if history == false %}
      width='600' height='220' border='0'
    {% endif %}
  {% endset %}

  <img class='img-responsive' src='{{ path('render', {'v': ipversion , 'as': as, 'start': start, 'end': end, 'dname': title, 'width': width, 'height': height, 'nolegend': nolegend, 'selected_links': selected_links|concat_link }) }}' {{ options }}>
{% endmacro %}

{% macro getImgLinkUsage(link, version, numhours, title, width, height) %}
  {% set title = "#{title} - IPv#{version}" %}
  <img class='img-responsive' src='{{ path('render-linkusage', {'link': link , 'numhours': numhours, 'dname': title, 'width': width, 'height': height, 'v': version}) }}'>
{% endmacro %}

{% macro content_header(titre, small, outispositive) %}
  <section class="content-header">
    <h1>
      {{ titre }}
      <small><i>{{ small }}</i></small>
    </h1>

    {% set traffic %}
      {% if outispositive %}
        <i class="fa fa-arrow-up"></i> {{ 'outbound.traffic' | trans }} <i class="fa fa-arrow-down"></i> {{ 'inbound.traffic' | trans }}
      {% else %}
        <i class="fa fa-arrow-up"></i> {{ 'inbound.traffic' | trans }} <i class="fa fa-arrow-down"></i> {{ 'outbound.traffic' | trans }}
      {% endif %}
    {% endset %}

    {% if outispositive != "NONE" %}
    <ol class="breadcrumb">
      <li>{{ traffic }}</li>
	  </ol>
    {% endif %}
  </section>
  <hr>
{% endmacro %}

{% macro box_linkusage(title, img) %}
  <div class="box box-primary">
    <div class="box-header with-border">
      <i class="fa fa-bar-chart-o"></i>
      <h3 class="box-title">{{ title }}</h3>
    </div>
    <div class="box-body">
      <center>{{ img }}</center>
    </div>
  </div>
{% endmacro %}
